* {
    primary-color: #1E88E5;
    secondary-color: #455A64;
    third-color: #303F9F;
    forth-color: #EEE;

    -fx-prompt-text-fill: grey;
}

.button {
    -fx-background-color: primary-color;
    -fx-text-fill: white;
    -fx-border-radius: 0px;
}

.button MaterialDesignIconView {
    -fx-fill: white;
}

.button:hover {
    -fx-background-color: third-color;
}

.clear-button {
    -fx-background-color: secondary-color;
}

.clear-button:hover {
    -fx-background-color: secondary-color;
}

.toolBoxButton {
    -fx-background-color: #DDDDDD;
    -fx-text-fill: black;
}

.toolBoxButton MaterialDesignIconView {
    -fx-fill: black;
}

.toolBoxButton:hover {
    -fx-background-color: primary-color;
    -fx-text-fill: white;
}

.toolBoxButton:hover MaterialDesignIconView {
    -fx-fill: white;
}

.infos-panel {
    -fx-background-color: forth-color;
}